body {
	font-family: "Arial", Sans-Serif;
}

.node {
	width: 25px;
	height: 25px;

	top: 0px;
	left: 0px;
	position: absolute;

	margin: 0px;
	padding: 0px;
	border: solid 3px black;
	border-radius: 40px;

	background-color: #3388ff;
}

.node.drop-target {
	background-color: #2222ff;
}
    
.thing0 {
	width: 150px;
	height: 150px;

	top: 0px;
	left: 0px;
	position: absolute;
	
	margin: 0px;
	padding: 10px;
	border: solid 3px black;
	border-radius: 40px;

	background-color: #2f5;
}

.thing0 h1 {
	border-radius: 5px;
	margin: 13px 0 5px 0;

	font-size: 20px;
	color: #2277ff;
	background-color: rgba(255, 255, 255, 0.5);
}

.thing0 p {
/*	background-color: rgba(255, 255, 255, 0.5);*/
	margin: 5px 0;
}

.thing0 a, .thing0 a:visited {
	display: block;

	color: inherit;
	text-decoration: inherit;
}

.thing0.top-right, .thing0.top-right h1 {
	border-top-right-radius: 0px;
}

.thing0.bottom-right, .thing0.bottom-right h1 {
	border-bottom-right-radius: 0px;
}

.thing0.bottom-left, .thing0.bottom-left h1 {
	border-bottom-left-radius: 0px;
}

.thing0.top-left, .thing0.top-left h1 {
	border-top-left-radius: 0px;
}


/*
 * interact.js
 */

.interact-node {
}

.interact-node:hover {
	border-color: #AAAAAA;
}

.interact-target {
	border-style: dashed;
	border-color: #AAAAAA;
}

.interact-demo-node:before {
	content: attr(id);
	border-bottom: 2px solid red;
}

.interact-draggable {
	position: absolute;
}

.interact-demo-node {
    position: absolute;
	border: 5px solid #333333;
	width: 200px;
	height: 200px;
	overflow: auto;
	background-color: #2288FF;
	padding: 15px;
	margin: 15px;
}

#license { 
	border: 1px solid #555555;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}

